<div class="container-fluid card">
  <div class="row card-header">
    <div class="col-sm-3">Add new Student (Name):</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <input
      class="mat-input-element mat-form-field"
      placeholder="Student Name"
      [(ngModel)]="newStudentModel">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <button class="mat-button"
      (click)="addStudent()"
      [disabled]="validateNewStudentModelTitle(newStudentModel)">+</button>
    </div>
  </div>
  <div class="row card-body">
    <table class=" table mat-table mat-table-sticky" *ngIf="students.length > 0">
      <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let student of students; index as si">
      <tr>
        <td> {{student.name}} </td>
        <td> Completed Lessons:<br>
          <ul>
            <li>{{student.percentileCompletedLessons}}% of lessons completed</li>
            <li>{{student.completedCoursesCount}} of {{lessons.length}} lessons completed</li>
            <li *ngIf="student.percentileComparedOther">
              You performed better than {{student.percentileComparedOther}}% of your class mates
            </li>
            <li *ngIf="student?.completedCoursesCount"> Completed cources
              <ul>
                <li *ngFor="let lastCourse of student?.completedCoursesList | slice:-3">
                  {{lastCourse?.title}}
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <button class="mat-button btn-danger" (click)="deleteStudent(student)">-</button>
        </td>
      </tr>
        <tr *ngFor="let lesson of lessons | customfilter:student:'completedCoursesList'; index as li">
          <td>{{lesson.title}}</td>
          <td><input 
            (click)="complete(lesson, student)"
            type="checkbox"
            class="form-check-input"
            id="check-lesson{{si}}{{li}}"> complete </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
